body {

  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 50px;
  background: ##000000;
}

ol, ul {
  padding-left: 30px;
}
button.curlist:hover{
  color: black;
  
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  color: ##D82B2B;
}

.square {
  color: ##D82B2B;
  background: ##FFFFFF;
  border: 4px solid #00897b;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.winsquare {

  background:green;
  border: 4px solid #00897b;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
  color: black;
 
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}


.game-info {
  font-size: 28px;
  color: #424242;
  margin-top: 10px;
  text-align: center;
  margin-left: 20px;
}
